body {
    background-image: url(./flag-argentina.jpg);
}
h1 {
    color: indianred;
}
img {
    width: 400px;
}
#thirdDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 600px;
    width: 500px;
    background-color: burlywood;
    padding: 50px;
    border: 25px inset deeppink;
    margin-top: 25px;
}
.divClass {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#spanId {
    margin-left: auto;
    margin-right: auto;
    text-size-adjust: 18px;
    margin: 50px;
}